fastapi
uvicorn
gunicorn
sqlalchemy
psycopg2-binary
websockets
scapy
scikit-learn
pandas
numpy
python-dotenv
alembic
requests
pydantic
pydantic-settings
asyncpg
reportlab
python-jose[cryptography]
passlib[bcrypt]
